{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "adminlet.css" %}">
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "evaluation-form.css" %}">
    <link rel="stylesheet" href="{% static "modestcustom.css" %}">
</head>
<body>
    <div>
        <h1>Hi, Chai & Django!</h1>
    </div>
</body>
</html>